.navbar {
    &__link {
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 14px;
        line-height: 14px;
        color: #34ACA7;
        text-decoration: none;
        padding-bottom: 24px;
        cursor: pointer;
        &__link-img {
            max-width: 100%;
            width: 30px;
            height: 30px;
            padding-right: 12px;
            &--food {
                background: url('../../assets/food-icon.svg') no-repeat;
            }
            &--blog {
                background: url('../../assets/blog-icon.svg') no-repeat;
            }
            &--a-list {
                background: url('../../assets/a-list-icon.svg') no-repeat;
            }
            &--camera {
                background: url('../../assets/camera-icon.svg') no-repeat;
            }
            &--about {
                background: url('../../assets/about-icon.svg') no-repeat;
            }
        }
    }
}
@media (max-width: 1176px) and (min-width: 992px) {
    .navbar__link {
        padding-bottom: 36px;
    }
}
@media (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: row;
        &__link {
            flex-direction: column;
            justify-content: center;
            padding: 0;
            width: 100px;
            &-img {
                padding-right: 0px;
                margin-bottom: 12px;
            }
        }
    }
}
@media (max-width: 768px) {
    .navbar{
        &__link {
            width: 93px;
            &-img {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        width: 100%; 
        &__link {
            margin-bottom: 34px;
        }
    }
}